@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: 255, 255, 255;
  --foreground-rgb: 0, 0, 0;
}

html,
body {
  width: 100vw;
  height: 100vh;
  overflow-x: auto;
  overflow-y: auto;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-color));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}