@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: 255, 255, 255;
  --foreground-rgb: 0, 0, 0;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-color));
}

main {
  height: 100%;
  width: 100%;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}